<%-  include partials/head_common -%>
<!-- place js/css here -->
<%-  include partials/head_common_close -%>
    <header class="header-wrapper header">
      <div class="header-wrapper__inner">
        <%- include partials/header -%>
        <%- include partials/navigation -%>
      </div>
    </header>
    <div class="page-content">
      <%- contents -%>
    </div>
    <footer class="footer-wrapper footer">
      <%- include partials/footer -%>
    </footer>
    <!-- place js/css here -->
<%- include partials/foot_common -%>
