<%-  include partials/head_common -%>
    <!-- place js/css here -->
    <link rel="stylesheet" href="/assets/stylesheets/pages/post.css" media="screen" title="no title" charset="utf-8">
    <%-  include partials/head_common_close -%>
        <header class="header-wrapper header">
          <div class="header-wrapper__inner">
            <%- include partials/header -%>
            <%- include partials/navigation -%>
          </div>
        </header>
        <div class="page-content">
            <h1 class="post-title">
        <%= title %>
      </h1>
            <article class="post-content">
                <%- contents -%>
            </article>
        </div>
        <div id="disqus_thread" class="disqus-thread"></div>
        <script>
            /**
             * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function() {
                this.page.url = 'http://'+(window.location.hostname + window.location.pathname); // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = "<%= (title+'_'+date.toString()).replace(/\s/g,'_') %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document,
                    s = d.createElement('script');

                s.src = '//root34.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <footer class="footer-wrapper footer">
            <%- include partials/footer -%>
        </footer>
        <!-- place js/css here -->
        <%- include partials/foot_common -%>
